<%- include('partials/header.ejs') %>
     <h1>This is Jupiter! </h1>
    
     <p>Click on a planet to know more about it:</p>
     
     <a href= "/mercury">Mercury</a><br>
     <a href= "/venus">Venus</a><br>
     <a href= "/earth">Earth</a><br>
     <a href= "/mars">Mars</a><br>
     <a href= "/jupiter">Jupiter</a><br>
     <a href= "/">Home</a><br>
     Jupiter<br>
      <img src="/img/jupiter.jpg" alt="Jupiter"></img>
      <p>
          Jupiter is the fifth planet from the Sun and the largest
          in the Solar System. It is a gas giant with a mass 
          one-thousandth that of the Sun, but two-and-a-half times 
          that of all the other planets in the Solar System combined. 
          Wikipedia
      </p>
     
<%- include('partials/footer.ejs') %>