<%- include('partials/header.ejs') %>
     <h1>This is Mars! </h1>
    
     <p>Click on a planet to know more about it:</p>
     
     <a href= "/mercury">Mercury</a><br>
     <a href= "/venus">Venus</a><br>
     <a href= "/earth">Earth</a><br>
     <a href= "/mars">Mars</a><br>
     <a href= "/jupiter">Jupiter</a><br>
     <a href= "/">Home</a><br>
     Mars<br>
      <img src="/img/mars.jpg" alt="Mars"></img>
      <p>
          Mars is the fourth planet from the Sun and the second-smallest
          planet in the Solar System after Mercury. In English, Mars 
          carries a name of the Roman god of war and is often referred
          to as the 'Red Planet'. Wikipedia
      </p>
     
<%- include('partials/footer.ejs') %>