<%- include('partials/header.ejs') %>
     <h1>This is Mercury! </h1>
    
     <p>Click on a planet to know more about it:</p>
     
     <a href= "/mercury">Mercury</a><br>
     <a href= "/venus">Venus</a><br>
     <a href= "/earth">Earth</a><br>
     <a href= "/mars">Mars</a><br>
     <a href= "/jupiter">Jupiter</a><br>
     <a href= "/">Home</a><br>
     
     Mercury<br>
      <img src="/img/mercury.png" alt="Mercury"></img>
        <p>Mercury is the smallest and innermost planet in the Solar System. 
      Its orbit around the Sun takes 87.97 days, 
      the shortest of all the planets in the Solar System. 
      It is named after the Roman deity Mercury, the 
      messenger of the gods. Wikipedia</p>
     
<%- include('partials/footer.ejs') %>
