<%- include('partials/header.ejs') %>
     <h1>This is Venus! </h1>
    
     <p>Click on a planet to know more about it:</p>
     
     <a href= "/mercury">Mercury</a><br>
     <a href= "/venus">Venus</a><br>
     <a href= "/earth">Earth</a><br>
     <a href= "/mars">Mars</a><br>
     <a href= "/jupiter">Jupiter</a><br>
     <a href= "/">Home</a><br>
     Venus<br>
      <img src="/img/venus.jpg" alt="Venus"></img>
      <p>Venus is the second planet from the Sun. It is 
      named after the Roman goddess of love and beauty.
      As the second-brightest natural object in the night 
      sky after the Moon, Venus can cast shadows and, rarely,
      is visible to the naked eye in broad daylight. Wikipedia</p>
     
<%- include('partials/footer.ejs') %>